.gradient_mask {
    overflow-x: visible;
    width: 100%;
    -webkit-mask-image: linear-gradient(to bottom,#000000 82%, rgba(29, 29, 29, 0) 95%);
    mask-image: linear-gradient(to bottom,#000000 82%, rgba(29, 29, 29, 0) 95%);
    
  }

.gradient_mask_2 {
  mask-image: 
    linear-gradient(15deg, rgba(29, 29, 29, 0) 25%, black, rgba(29, 29, 29, 0) 75%,),
}

.gradient_mask_3 {
  -webkit-mask-image: linear-gradient(-110deg,#000000 5%, rgba(29, 29, 29, 0) 75%);
  mask-image: linear-gradient(-110deg,#000000 5%, rgba(29, 29, 29, 0) 75%);
}

.cardStyle {
  @apply
  relative flex overflow-hidden h-full sm:w-full sm:aspect-square bg-white/20 border-2 border-light-grey/25
}

.cardStyle2 {
  @apply
  relative flex overflow-hidden h-full md:h-[unset] w-[calc(100%/3.6)] md:w-[calc(50%-0.5rem)] md:aspect-square bg-light-grey/25 border-2 border-light-grey/25
}  