.contactFrame {
    @apply 
    px-3 pt-3
    z-10
    absolute bottom-full left-1/2 -translate-x-1/2
    gap-4 flex justify-center
    rounded-t-[1.75rem]
    sm:relative sm:flex-wrap sm:px-0 sm:pt-16 sm:justify-start
    ;

   &:after, &:before {
        content: "";
        @apply 
        absolute bottom-0 block z-10
        w-4 aspect-square
        rounded-full
        sm:hidden
    }

    &:before {
        @apply -left-4
    }

    &:after {
        @apply -right-4
    }

    &>*:not(.fakeBand) {
        @apply z-10
    }
}

.fakeBand {
    @apply 
    absolute bottom-0 block z-0
    h-2 w-[calc(100%+1rem)]
    sm:hidden
}